/*
* 버튼 : btn-rounded-
*/
[class^='btn-rounded'] {
  border: 1px #e6e6e6 solid;
  display: block;
  text-align: center;
  background-color: #fff;
}
.btn-rounded {
  &-large {
    width: 100%;
    height: 45px;
    border-radius: 45px;
    font-size: 14px;
    letter-spacing: -0.7px;
  }
  &-medium {
    display: inline-block;
    padding: 0 16px;
    height: 35px;
    border-radius: 35px;
    font-size: 13px;
  }
  &-small {
    display: inline-block;
    margin-right: 3px;
    padding: 0 16px;
    height: 30px;
    font-size: 12px;
    border-radius: 30px;
  }
  &-dotted {
    display: inline-block;
    padding: 0 16px;
    height: 35px;
    border-radius: 35px;
    font-size: 13px;
    color: #808080;
    border: 1px #e6e6e6 dashed;
  }
}
