/*
* 링크버튼 : link-rounded-
*/
[class^='link-rounded'] {
  border: 1px #e6e6e6 solid;
  display: block;
  text-align: center;
  background-color: #fff;
}
.link-rounded {
  &-large {
    font-size: 14px;
    height: 45px;
    border-radius: 45px;
    padding-top: 14px;
    letter-spacing: -0.4px;
  }
  &-medium {
    font-size: 13px;
    height: 35px;
    border-radius: 35px;
    display: inline-block;
    padding: 10px 16px;
  }
  &-small {
    font-size: 12px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    padding: 9px 16px 0;
    margin-right: 3px;
  }
}
/*
  storybook
  button
  ------------
  primary
  secondary
  ------------
  large
  medium
  small
  ------------
*/

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
