//하단 네비게이션 아이콘
.ic-nav-home:before {
  content: '\e941';
}
.ic-nav-home-on:before {
  content: '\e942';
}
.ic-nav-shop:before {
  content: '\e945';
}
.ic-nav-shop-on:before {
  content: '\e946';
}
.ic-nav-benef:before {
  content: '\e93f';
}
.ic-nav-benef-on:before {
  content: '\e940';
}
.ic-nav-menu:before {
  content: '\e943';
}
.ic-nav-menu-on:before {
  content: '\e944';
}
