// 유선서브메인 퀵메뉴 아이콘
.ic-qckcab-iptv:before {
  content: '\e954';
}
.ic-qckcab-combprd:before {
  content: '\e955';
}
.ic-qckcab-secur:before {
  content: '\e956';
}
.ic-qckcab-intern:before {
  content: '\e957';
}
.ic-qckcab-tel:before {
  content: '\e958';
}
