// etc아이콘
.ic-btn-stop1:before {
  content: '\e900';
}
.ic-btn-stop2:before {
  content: '\e901';
}
.ic-eng:before {
  content: '\e906';
}
.ic-info:before {
  content: '\e907';
}
.ic-noti:before {
  content: '\e908';
}
.ic-play:before {
  content: '\e961';
}
.ic-qck-tspace:before {
  content: '\e953';
}
.ic-reset:before {
  content: '\e952';
}
.ic-warn:before {
  content: '\e965';
}
.ic-inspect:before {
  content: '\e95f';
}
.bl-check:before {
  content: '\e95a';
}
.ic-discount:before {
  content: '\e974';
  color: rgb(51, 51, 51);
}
.ic-discount:after {
  content: '\e975';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-etc-fee2:before {
  content: '\eb0e';
  color: rgb(229, 229, 229);
}
.ic-etc-fee2:after {
  content: '\eb0f';
  margin-left: -0.9755859375em;
  color: rgb(65, 48, 223);
}
.ic-search:before {
  content: '\eb35';
  color: rgb(65, 48, 223);
}
.ic-search:after {
  content: '\eb36';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.ic-filter:before {
  content: '\e969';
  color: #808080;
}
.ic-input-delet:before {
  content: '\eb11';
  color: rgb(217, 217, 217);
}
.ic-input-delet:after {
  content: '\eb12';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-chatting:before {
  content: '\eb10';
}
.ic-tel-counsel:before {
  content: '\eb14';
}
.ic-kakao:before {
  content: '\eb13';
}
.ic-location:before {
  content: '\eb2a';
}
.ic-profile:before {
  content: '\eb33';
}
.ic-refresh:before {
  content: '\eb34';
}
.ic-plus:before {
  content: '\eb17';
}
.ic-bg-plus:before {
  content: '\eb18';
  color: rgba(65, 48, 223, 0.4);
}
.ic-bg-plus:after {
  content: '\eb19';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.ic-etc-close:before {
  content: '\eb1d';
}
.ic-login:before {
  content: '\eb1f';
}
.ic-line-regis:before {
  content: '\eb1e';
}
.ic-star:before {
  content: '\eb79';
  color: #4130df;
}
.ic-vip-pick::before {
  content: '\eb20';
  color: rgb(67, 49, 229);
}
.ic-vip-pick::after {
  content: '\eb21';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-refill-cpn2::before {
  content: '\eb25';
  color: rgb(74, 54, 255);
}
.ic-refill-cpn2::after {
  content: '\eb26';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-my-vip::before {
  content: '\eb7a';
  color: rgb(67, 49, 229);
}
.ic-my-vip::after {
  content: '\eb7b';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-t-point::before {
  content: '\eb7c';
  color: rgb(0, 0, 0);
}
.ic-t-point::after {
  content: '\eb7d';
  margin-left: -1em;
  color: rgb(74, 54, 255);
}
.ic-mem-discount:before {
  content: '\eb7e';
}
.ic-rate-discount:before {
  content: '\eb7f';
}
.ic-asinfo::before {
  content: '\eb8d';
  color: rgb(11, 184, 129);
}
.ic-asinfo::after {
  content: '\eb8e';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-as::before {
  content: '\eb8f';
  color: rgb(255, 213, 113);
}
.ic-as::after {
  content: '\eb90';
  margin-left: -1em;
  color: rgb(65, 48, 223);
  opacity: 0.749;
}
.ic-store:before {
  content: '\eb91';
}
.ic-time:before {
  content: '\eb92';
}
.ic-date:before {
  content: '\eb93';
}
.ic-etc-tel2:before {
  content: '\eb9c';
}
.ic-etc-tel2:before {
  content: '\eb9c';
}
.ic-reserve:before {
  content: '\eb98';
}
.ic-warn2:before {
  content: '\eb95';
}
.ic-home-link:before {
  content: '\eb96';
}
.ic-find-load:before {
  content: '\eb97';
}
.ic-location-bold:before {
  content: '\eb94';
}
.ic-chat:before {
  content: '\eba0';
}
.ic-couns:before {
  content: '\eba1';
}
.ic-gigawifi:before {
  content: '\eba2';
  color: rgb(0, 0, 0);
}
.ic-gigawifi:after {
  content: '\eba3';
  margin-left: -1em;
  color: rgb(66, 46, 220);
}
.ic-katalk:before {
  content: '\eba4';
}
.ic-speaker:before {
  content: '\eba5';
  color: rgb(0, 0, 0);
}
.ic-speaker:after {
  content: '\eba6';
  margin-left: -1em;
  color: rgb(66, 46, 220);
}
.ic-tel-couns:before {
  content: '\eba7';
}

.ic-giftdata:before {
  content: '\eb22';
  color: rgb(74, 54, 255);
}
.ic-giftdata:after {
  content: '\eb23';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-giftdata .path:before {
  content: '\eb24';
  margin-left: -1em;
  color: rgb(74, 54, 255);
}
