// 마이 퀵메뉴 아이콘
.ic-qck-mydata:before {
  content: '\e926';
}
.ic-qck-myfee:before {
  content: '\e927';
}
.ic-qck-myinfo:before {
  content: '\e93b';
}
.ic-qckmy-benef:before {
  content: '\e923';
}
.ic-qckmy-shop:before {
  content: '\e93a';
}
.ic-qck-subsc:before {
  content: '\e93c';
}
.ic-qckmy-plan:before {
  content: '\ebab';
}
