//My etc아이콘
.ic-etc-wifi:before {
  content: '\e913';
}
.ic-etc-msg:before {
  content: '\e95d';
}
.ic-etc-tel:before {
  content: '\e95e';
}
.ic-etc-fee:before {
  content: '\e90f';
}
.ic-etc-disk:before {
  content: '\e905';
}
.ic-etc-global:before {
  content: '\e903';
}
.ic-etc-gift:before {
  content: '\e904';
}
.ic-etc-data:before {
  content: '\e951';
}
.ic-etc-hphone:before {
  content: '\e95b';
}
.ic-data-cpn:before {
  content: '\e959';
}
.ic-jeju-cpn:before {
  content: '\e960';
}
.ic-refill-cpn:before {
  content: '\e962';
}
.ic-t-cpn:before {
  content: '\e964';
}
.ic-short-data:before {
  content: '\e963';
}
.ic-etc-iptv:before {
  content: '\e95c';
}
.ic-t-datagift:before {
  content: '\eb15';
}
.ic-t-familydata:before {
  content: '\eb16';
}
.ic-limit-fee:before {
  content: '\eb1a';
}
.ic-ting:before {
  content: '\eb1b';
}
.ic-month-fee:before {
  content: '\ebaa';
}
