//My 유/무선 가입정보 카드
.ic-rateplan:before {
  content: '\e936';
  color: rgb(0, 0, 0);
}
.ic-rateplan:after {
  content: '\e937';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-dev-instal:before {
  content: '\e92c';
  color: rgb(0, 0, 0);
}
.ic-dev-instal:after {
  content: '\e92d';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-fee-disct:before {
  content: '\e928';
  color: rgb(0, 0, 0);
}
.ic-fee-disct:after {
  content: '\e929';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-free-serv:before {
  content: '\e92a';
  color: rgb(0, 0, 0);
}
.ic-free-serv:after {
  content: '\e92b';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-pay-serv:before {
  content: '\e934';
  color: rgb(0, 0, 0);
}
.ic-pay-serv:after {
  content: '\e935';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-opt-progm:before {
  content: '\e932';
  color: rgb(0, 0, 0);
}
.ic-opt-progm:after {
  content: '\e933';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-comb-prd:before {
  content: '\e924';
  color: rgb(0, 0, 0);
}
.ic-comb-prd:after {
  content: '\e925';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-my-intern:before {
  content: '\e92e';
  color: rgb(0, 0, 0);
}
.ic-my-intern:after {
  content: '\e92f';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-my-tel:before {
  content: '\e93d';
  color: rgb(0, 0, 0);
}
.ic-my-tel:after {
  content: '\e93e';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-iptv:before {
  content: '\e930';
  color: rgb(0, 0, 0);
}
.ic-iptv:after {
  content: '\e931';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-security:before {
  content: '\e938';
  color: rgb(0, 0, 0);
}
.ic-security:after {
  content: '\e939';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
.ic-t-roaming:before {
  content: '\eba8';
  color: rgb(0, 0, 0);
}
.ic-t-roaming:after {
  content: '\eba9';
  margin-left: -1em;
  color: rgb(65, 48, 223);
}
