// 매장찾기
.ic-filter-chinese:before {
  content: '\eb80';
  color: #2e96e6;
}
.ic-filter-eng:before {
  content: '\eb81';
  color: #2e96e6;
}
.ic-filter-runway:before {
  content: '\eb82';
  color: #2e96e6;
}
.ic-filter-parking:before {
  content: '\eb83';
  color: #2e96e6;
}
.ic-filter-rphone:before {
  content: '\eb84';
  color: #0bb881;
}
.ic-filter-pickup:before {
  content: '\eb85';
  color: #0bb881;
}
.ic-filter-receipt:before {
  content: '\eb86';
  color: #0bb881;
}
.ic-filter-tel:before {
  content: '\eb87';
  color: #0bb881;
}
.ic-filter-as:before {
  content: '\eb88';
  color: #0bb881;
}
.ic-filter-space:before {
  content: '\eb89';
  color: #4130df;
}
.ic-filter-phone:before {
  content: '\eb9e';
  color: #5745ff;
}
.ic-filter-tv:before {
  content: '\eb8b';
  color: #5745ff;
}
.ic-filter-terminal:before {
  content: '\eb8a';
  color: #ff5c85;
}
.ic-filter-vr:before {
  content: '\eb8c';
  color: #ff5c85;
}
.ic-store-filter:before {
  content: '\eb1c';
  color: #4130df;
}
