.radio-box {
  position: relative;
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    & + label {
      position: relative;
      padding-left: 30px;
      line-height: 22px;
      font-size: 13px;
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
      }
      &::after {
        content: '';
        position: absolute;
        left: 7px;
        top: 50%;
        width: 7px;
        height: 7px;
        background: var(--white);
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }
    &:checked {
      & + label {
        &::before {
          content: '';
          background-color: #4030df;
          border: none;
        }
      }
    }
  }
}
