// 공통으로 쓰일 검색
[class^='search-form'] {
  position: relative;

  fieldset {
    padding: 0;
    border: 0;
  }
  .search-input-area {
    position: relative;
    .search-input {
      display: block;
      padding: 15px 72px 15px 20px;
      width: 100%;
      height: 44px;
      background-color: var(--white);
      border: 1px solid #d9d9d9;
      border-radius: 44px;
      font-size: 16px;
      letter-spacing: -0.64px;
    }
    .btn-txt-delete {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 42px;
      top: 50%;
      transform: translateY(-50%);
      .ic-input-delet {
        font-size: 18px;
      }
      &.active {
        display: block;
      }
    }
  }
  .btn-search-submit {
    position: absolute;
    top: 50%;
    right: 9px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    .ic-tbar-srch2 {
      font-size: 19px;
    }
  }
}
.search-form {
  &-full {
    fieldset {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .search-input-area {
      width: 87.5%;
      .search-input {
        padding-right: 48px;
      }
      .btn-txt-delete {
        right: 9px;
      }
    }
    .btn-search-submit {
      position: static;
      top: auto;
      transform: translateX(0);
    }
  }
}
