.benefit-main {
  .card-bottom-content {
    padding-bottom: 38px;
    h2 {
      padding: 36px 0 0 0;
    }
    .swiper-per {
      padding-top: 18px;
    }
  }
  .bn-title {
    padding: 36px 20px 0 20px;
    font-size: 20px;
  }
  .bn-duration {
    padding-top: 13px;
    color: var(--grey600);
    font-size: 14px;
  }
  [class^='common-banner'] {
    padding: 0 20px;
    border-bottom: 7px solid var(--grey50);
    &[class*='paging'] {
      padding-bottom: 20px;
      .btn-area {
        padding-top: 24px;
      }
    }
    &[class*='touch'] {
      padding-bottom: 38px;
      .btn-area {
        padding-top: 20px;
      }
    }
    .bn-title {
      padding: 36px 0 0 0;
    }
    .bn-sub-title {
      padding-top: 24px;
      font-size: 16px;
    }
    .swiper-overlap {
      position: relative;
      overflow: hidden;
      margin-right: -20px;
      padding: 20px 0;
      .swiper-wrapper {
      }
      .swiper-slide {
        width: 320px;
        margin-left: 6px;
        border-radius: 3px;
        overflow: hidden;
        &:first-child {
          margin-left: 0;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .bx {
        display: block;
        height: 100px;
      }
      .swiper-pagination {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
      }
      .swiper-pagination-bullet {
        left: auto;
        margin-right: 2px;
        width: 16px;
        height: 2px;
        background: #e0e0e0;
        border-radius: inherit;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          background-color: var(--primary);
        }
      }
      &.goods {
        padding-top: 19px;
        margin-right: 0;
        .swiper-slide {
          width: 100%;
          margin-left: 0px;
          box-sizing: border-box;
          &:first-child {
            margin-left: 0;
          }
          & > * {
            margin: 0 4px;
          }
        }
        .bx {
          position: relative;
          height: 135px;
          overflow: hidden;
          border-radius: 3px;
          position: relative;
          display: block;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .alarm {
          align-items: center;
          position: relative;
          display: flex;
          padding: 6px 9px;
          font-weight: bold;
          color: #fff;
          position: absolute;
          bottom: 6px;
          left: 6px;
          font-size: 12px;
          &::after {
            content: '';
            border-radius: 12px;
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0.35;
          }
          .date {
            margin-left: 4px;
          }
          .time {
            display: flex;
            align-items: center;
            margin-left: 4px;
            &::before {
              content: '';
              width: 1px;
              height: 8px;
              background-color: var(--white);
              margin-right: 4px;
              opacity: 0.25;
            }
          }
          .ic-clock {
            width: 15px;
            height: 15px;
            background-image: url(/public/images/icon/ic-clock.png);
            background-size: 100%;
          }
        }
        .pd-name {
          padding-top: 14px;
          font-size: 14px;
        }
        .pd-price {
          padding-top: 14px;
          display: flex;
          align-items: center;
        }
        .discount {
          font-size: 26px;
          font-weight: bold;
          color: var(--point);
        }
        .dc-percent {
          font-size: 17px;
          margin-left: 5px;
        }
        .price {
          font-size: 13px;
          color: #999;
          text-decoration: line-through;
          margin-left: 8px;
        }

        .pd-shape {
          align-items: center;
          display: flex;
          margin-top: 12px;
          border-top: 1px solid var(--grey300);
          .tag {
            margin-top: 12px;
            display: flex;
          }
          .grade {
            margin-left: auto;
            font-size: 13px;
          }
          .ic-star {
            font-size: 12px;
          }
        }
        [class^='flag'] {
          font-size: 10px;
          font-weight: bold;
          padding: 3px 6px;
          border-radius: 3px;
          height: 18px;
          box-sizing: border-box;
          margin-left: 4px;
          &:first-child {
            margin-left: 0;
          }
          &[class*='benefit'] {
            color: #ff4444;
            border: solid 1px #f44;
            margin-left: 8px;
          }
          &[class*='coupon'] {
            color: var(--point);
            border: solid 1px #fde0e4;
            background-color: #fee7ea;
          }
          &[class*='free'] {
            color: #00bb81;
            border: solid 1px #00bb81;
          }
          &[class*='period'] {
            color: #4130df;
            border: solid 1px #4130df;
          }
        }
      }
    }
  }
}
.common-content-top {
  background-color: var(--grey100);

  .full-banner {
    margin: 0;
    padding: 0;
    height: 166px;
    img {
      width: 100%;
      height: 100%;
    }
    .inner-text {
      position: absolute;
      top: 30px;
      left: 24px;
      max-width: 210px;
    }
    .text-ref {
      font-size: 13px;
      letter-spacing: -0.52px;
    }
    .text-claim {
      display: block;
      margin-top: 12px;
      font-size: 23px;
      line-height: 1.17;
      letter-spacing: -0.92px;
      font-weight: bold;
    }
  }
}
.common-content-line {
  border-bottom: 7px solid var(--grey50);
}
.common-content-benefit {
  border-bottom: 7px solid var(--grey50);
  padding-bottom: 36px;
}
.user-benefit-edge {
  margin-top: -16px;
}
.common-state-bx {
  position: relative;
  margin: 0 15px 15px 15px;
  padding: 30px 24px;
  display: flex;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  i[class^='ic'] {
    font-size: 27px;
  }
  .state-text {
    margin-left: 14px;
  }
  .text-title {
    font-size: 16px;
    font-weight: bold;
  }
  .text-account {
    padding-top: 10px;
    font-size: 14px;
  }
}

.common-tab-area {
  border-radius: 3px 3px 0 0;
  background-color: var(--white);
  box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.08);
  margin: 0 15px;
  position: relative;
  .common-tab-item {
    display: flex;
    border-bottom: 1px solid var(--secondary);
    padding: 0 20px;
    li {
      flex: 1;
    }
    .btn {
      position: relative;
      padding: 20px 0 15px 0;
      font-size: 14px;
      width: 100%;
      letter-spacing: -0.56px;
      &.active {
        font-weight: bold;
        &::before {
          position: absolute;
          bottom: -1px;
          left: 0px;
          right: 0;
          content: '';
          height: 2px;
          background-color: var(--black);
        }
      }
    }
  }
  .tab-content {
    position: relative;
    display: none;
    &.active {
      display: block;
    }
    .my-merit {
      margin: 0 20px;
      & > .my-volume {
        padding: 12px 0 0 0;
        color: var(--primary);
      }
    }
    .my-period {
      padding: 8px 0 0 0;
      font-size: 12px;
      color: var(--grey400);
    }
    &::after {
      content: '';
      display: block;
      height: 15px;
      width: 100%;
      background-image: url(/public/images/bg-under.png);
      background-size: auto 15px;
      background-repeat: repeat-x;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
    }
    .my-detailed {
      .bn-major {
        .bn-head {
          display: flex;
          font-size: 14px;
          justify-content: space-between;
          &.err {
            display: block;
            dd {
              padding-top: 12px;
              color: #ff7f7f;
              font-size: 12px;
              font-weight: inherit;
              line-height: 1.42;
              letter-spacing: -0.48px;
            }
            i[class^='ic'] {
              margin-right: 3px;
            }
          }
        }
        dd {
          font-weight: bold;
          display: flex;
          align-items: center;
          i[class^='bl'] {
            display: none;
            font-size: 10px;
          }
        }
      }
      .bn-message {
        font-size: 12px;
        color: var(--grey500);
        padding: 13px 42px 24px 42px;
        line-height: 1.42;
      }
      .product-cont {
        padding: 30px 20px 0 20px;
        .fee-list {
          display: none;
          .line-item {
            padding: 20px 0 0 0;
          }
        }
      }
      .member-cont {
        padding: 20px 20px 0 20px;
        .bn-message {
          padding-left: 22px;
          padding-right: 22px;
        }
      }
      .data-cont {
        margin: 25px 20px 0 20px;
        padding-top: 30px;
        border-top: 1px dotted var(--black);
        .fee-area {
          display: none;
        }
        .accodian-item {
          &.active {
            .bl-arr {
              &::before {
                transform: rotate(270deg);
              }
            }
            .accodian-cont {
              display: block;
            }
          }
          &:first-child {
            .line-item {
              padding-top: 30px;
            }
          }
          .line-item {
            padding: 10px 0px;
            width: 100%;
          }
          .amount {
            font-weight: bold;
          }
          .bl-arr {
            font-size: 12px;
            margin-left: 6px;
            &::before {
              transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
          }
        }
        .accodian-cont {
          background-color: var(--grey100);
          margin: 10px 0px;
          padding: 10px 0;
          display: none;
          dl {
            padding: 10px 18px;
            display: flex;
          }
          .number {
            font-size: 14px;
            color: var(--grey700);
          }
          .date {
            font-size: 12px;
            color: var(--grey500);
            display: block;
            margin-top: 8px;
          }
          .volume {
            margin-left: auto;
            font-weight: bold;
            font-size: 14px;
          }
        }
        .bn-info {
          border-top: 1px solid var(--grey300);
          padding-top: 25px;
          font-size: 12px;
          color: var(--grey400);
          line-height: 1.67;
          margin-top: 20px;
          li {
            position: relative;
            padding-left: 5px;
            &::before {
              position: absolute;
              left: 0;
              top: 8px;
              content: '';
              display: block;
              width: 3px;
              height: 3px;
              background-color: var(--grey400);
              border-radius: 50%;
            }
          }
        }
      }
      .btn-area {
        .btn-more {
          color: var(--grey500);
          padding: 20px 0;
          width: 100%;
          border-top: none;
          [class^='ic'],
          [class^='bl'] {
            font-size: 15px;
            &::before {
              color: var(--grey500);
            }
          }
        }
      }

      &.active {
        .bn-major {
          .bn-head {
            display: block;
          }
          dt {
            font-size: 14px;
            font-weight: bold;
          }
          dd {
            padding-top: 12px;
            font-size: 22px;
            font-weight: bold;
            i[class^='bl-arr'] {
              display: inline-flex;
            }
          }
          .unit {
            font-size: 16px;
            display: flex;
            align-items: center;
          }
        }
        .product-cont {
          .fee-list {
            display: block;
          }
        }
        .member-cont {
          padding-top: 45px;
        }
        .data-cont {
          display: block;
          .fee-area {
            display: block;
          }
        }
        .btn-more {
          display: block;
          .bl-arr.btm {
            &::before {
              transform: rotate(-90deg);
              display: inline-block;
            }
          }
        }
      }
    }
    &.real-time {
      .data-cont {
        display: none;
      }
    }
  }
}
.swiper-per {
  overflow: hidden;
  &.circle {
    margin-right: -20px;
    padding-top: 18px;
    .swiper-slide {
      width: 104px;
      margin-left: 20px;
      font-size: 14px;
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      picture {
        width: 104px;
        height: 104px;
        display: block;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        background-color: #eee;
      }
    }
    .cl-name {
      padding-top: 14px;
      color: var(--black);
      display: block;
      letter-spacing: -0.45px;
    }
    .cl-state {
      padding-top: 6px;
      color: var(--primary);
      font-weight: bold;
      letter-spacing: -0.56px;
    }
    .cl-remark {
      padding-top: 6px;
      font-size: 12px;
      color: var(--grey500);
    }
  }
  &.rect {
    padding-top: 14px;
    margin-right: -20px;
    .swiper-slide {
      width: 157px;
      margin-left: 6px;
      &:first-child {
        margin-left: 0;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .bx {
      overflow: hidden;
      border-radius: 3px;
      position: relative;
      display: block;
      height: 105px;
    }
    .cl-name {
      display: block;
      margin-top: 12px;
      font-size: 14px;
      letter-spacing: -0.56px;
    }
    .cl-state {
      margin-top: 6px;
      font-size: 13px;
      display: flex;
      letter-spacing: -0.52px;
      i {
        margin-right: 4px;
      }
    }
    .due-date {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-color: var(--black);
        opacity: 0.4;
      }
      .date {
        font-size: 28px;
        font-weight: bold;
        color: var(--white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.oblong {
    padding-top: 18px;
    .swiper-slide {
      width: 148px;
      margin-left: 8px;
      &:first-child {
        margin-left: 0;
      }
    }
    .bx {
      height: 195px;
      overflow: hidden;
      border-radius: 3px;
      position: relative;
      display: block;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .cl-name {
      padding-top: 12px;
      font-size: 14px;
    }
    .cl-state {
      padding-top: 8px;
      display: flex;
      font-size: 13px;
      align-items: center;
      i {
        font-size: 12px;
      }
      .grade {
        font-weight: bold;
      }
      .percent {
        color: var(--grey400);
      }
    }
  }
}

.common-content-benefit {
  .bn-user-state {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 36px 20px 0 20px;
    .bn-title {
      line-height: 1.2;
      letter-spacing: -0.8px;
      padding: 0;
    }
    .bn-face {
      width: 44px;
      img {
        width: 100%;
      }
    }
  }
  .bn-desc {
    font-size: 13px;
    color: var(--grey400);
    padding: 12px 20px 0 20px;
  }
  .bn-statistical {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 170px;
    margin-top: 24px;
    .amount {
      font-size: 15px;
      font-weight: bold;
    }
    .chart {
      position: relative;
      flex: 1;
      margin: 0 auto;
      width: 56px;
    }
    .figure-data {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 3px 3px 0 0;
    }
    .user {
      margin-top: 10px;
      font-size: 12px;
      color: #666;
    }
    [class*='bar'] {
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 145px;
      position: absolute;
      bottom: 0;
    }
    [class*='volume'] {
      display: flex;
      /* flex: 1; */
      height: 100%;
    }
    .user-volume {
      .amount {
        color: var(--primary);
      }
      .figure-data {
        background-color: var(--primary);
      }
    }
    .average-volume {
      margin-left: 40px;
      .amount {
        color: var(--grey600);
      }
      .figure-data {
        background-color: #c3c6cc;
      }
    }
  }
  .benefit-list-arr {
    margin-top: 28px;
    padding: 0 20px;
    li {
      margin-top: 16px;
      &:first-child {
        margin-top: 0;
      }
    }
    .item {
      display: flex;
      align-items: center;
      [class^='icon'] {
        &::before {
          content: '';
          display: block;
          width: 36px;
          height: 36px;
          margin-right: 10px;
          background-size: 100%;
        }
      }
      [class*='fee-r'] {
        &::before {
          background-image: url(/public/images/icon/ic-fee-r.png) ;
        }
      }
      [class*='vip-r'] {
        &::before {
          background-image: url(/public/images/icon/ic-vip-r.png);
        }
      }
      .name {
        display: flex;
        align-items: center;
      }
      i {
        margin-left: auto;
        font-size: 12px;
      }
      .item-title {
        font-size: 15px;
      }
    }
  }
}
.ic-p-red {
  background-image: url(/public/images/icon/ic-point.png);
  background-size: 100%;
  display: block;
  width: 15px;
  height: 15px;
}
.ic-p-blue {
  background-image: url(/public/images/icon/ic-sale.png);
  background-size: 100%;
  display: block;
  width: 15px;
  height: 15px;
}
